<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
  <meta charset="utf-8">
  <script src="../libs/jquery/jquery-1.11.2.js"></script>
  <script src="../libs/jquery/jquery.sparkline.js"></script>
  <script src="../libs/angular/angular.js"></script>
  <script type="text/javascript">
  angular.module('sampleApp', []).
          directive('ngSparkline', [function() {
            return {
              restrict: "AE",
              scope: {
                chartData: "="
              },
              link: function(scope, iElement, iAttrs) {
                var options = { type: iAttrs.chartType || 'line' };
                scope.$watch('chartData', function(bfData, afData) {
                  $(iElement).sparkline(scope.chartData, options);
                }, true);
              }
            }
          }]).
          controller('sampleCtrl', function($scope) {
            $scope.chartData = [0, 0, 0]
          });
  </script>
</head>

<body ng-controller="sampleCtrl">
  <div>
    <input type="number" ng-model="chartData[0]">
    <input type="number" ng-model="chartData[1]">
    <input type="number" ng-model="chartData[2]">
    <br/>
    <p>data: {{chartData}}</p>
  </div>

  <ng-sparkline chart-data="chartData" chart-type="bar"></ng-sparkline>
</body>
</html>
