<!doctype html>
<html class="no-js" ng-app="ngBookmark">
  <head>
    <meta charset="utf-8">
    <title>bookmark</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="bookmarkMainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ngBookmark</a>
      </div>
      <div class="navbar-inner">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="bookmark name" ng-model="searchInfo.bookmarkName"/>
          </div>
          <button type="submit" class="btn btn-default" ng-click="search(searchInfo)">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="bookmarkListViewType == 'grid'">
            <button ng-click='toggleBookmarkListViewType()' type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-list"></span></button>
          </li>
          <li ng-show="bookmarkListViewType == 'list'">
            <button ng-click='toggleBookmarkListViewType()' type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th"></span></button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <ng-view></ng-view>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/bookmark/service/bookmarkSvc.js"></script>
        <script src="scripts/bookmark/controller/bookmarkListCtrl.js"></script>
        <script src="scripts/bookmark/controller/bookmarkAddCtrl.js"></script>
        <script src="scripts/bookmark/controller/bookmarkDetailCtrl.js"></script>
        <!-- endbuild -->
</body>
</html>
